<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  {{!-- <a class="navbar-brand" href="#">Navbar</a> --}}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/saved/{{userID}}">saved recipes</a>
            </li>
        </ul>
  </div>
</nav>
<section id="results-section">
    <h1>Your Recipes</h1>
    <br>
    <div class="row result-show text-center">
        {{#each drinks}}
        <div class="col-sm-3">
        <div class="result pb-0" id="{{drinkID}}">
            <h4 class="results-name">{{name}}</h4>
            <img src="{{imageURL}}" class="rounded-circle img-responsive result-img">
        </div>
        <div id="{{id}}" class="btn text-white btn-sml remove mb-5">remove</div>
        </div>
        {{/each}}
    </div>
  </div>
  </section>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>